n8n_dispatcher.json
{
  "name": "⚡ FlowBrain Dispatcher",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "flowbrain",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ff000001-0000-0000-0000-000000000001",
      "name": "Receive Dispatch Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "notes": "This webhook receives requests from FlowBrain. Copy the Production URL and set it as N8N_DEFAULT_WEBHOOK in your .env file."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-workflow-id",
              "leftValue": "={{ $json.body.workflow_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ff000001-0000-0000-0000-000000000002",
      "name": "Has Workflow ID?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.body.workflow_id }}",
          "mode": "id"
        },
        "workflowInputs": {
          "values": [
            {
              "name": "user_query",
              "value": "={{ $json.body.user_query }}"
            },
            {
              "name": "workflow_id",
              "value": "={{ $json.body.workflow_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ff000001-0000-0000-0000-000000000003",
      "name": "Execute Target Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"workflow_id\": \"{{ $('Receive Dispatch Request').item.json.body.workflow_id }}\",\n  \"result\": {{ JSON.stringify($json) }}\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "ff000001-0000-0000-0000-000000000004",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"No workflow_id provided in request body\",\n  \"received\": {{ JSON.stringify($json.body) }}\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "ff000001-0000-0000-0000-000000000005",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 420]
    },
    {
      "parameters": {
        "content": "## ⚡ FlowBrain Dispatcher\n\n**How to connect:**\n1. Activate this workflow\n2. Copy the Production URL from the **Receive Dispatch Request** node\n3. Add to your `.env` file:\n   `N8N_DEFAULT_WEBHOOK=<paste URL here>`\n4. Restart FlowBrain\n\n**What this does:**\nReceives a POST from FlowBrain with `{workflow_id, user_query}` and executes the target workflow by ID.\n\n**Payload format:**\n```json\n{\n  \"workflow_id\": \"1234\",\n  \"user_query\": \"original user request\"\n}\n```",
        "height": 280,
        "width": 380
      },
      "id": "ff000001-0000-0000-0000-000000000006",
      "name": "Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 520]
    }
  ],
  "connections": {
    "Receive Dispatch Request": {
      "main": [
        [
          {
            "node": "Has Workflow ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Workflow ID?": {
      "main": [
        [
          {
            "node": "Execute Target Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Target Workflow": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "tags": ["flowbrain", "dispatcher", "automation"],
  "meta": {
    "templateId": "flowbrain-dispatcher",
    "instanceId": "flowbrain-v2"
  }
}
